body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label, p {
  font-weight: bold;
  margin: 10px 0;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 90%;
  height: auto;
}

input {
  border: 1px solid #ccc;
}

button {
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background: #0056b3;
}

#output {
  white-space: pre-wrap;
  background-color: #222;
  color: #0f0;
  padding: 10px;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
  text-align: left;
  font-family: "Courier New", monospace;
}