/* デフォルトのライトモード */
:root {
  --bg-color: #f4f4f9;
  --text-color: #333333;
  --box-color: #ffffff;
  --button-bg: #007BFF;
  --button-text: #ffffff;
  --shadow-color: 0 0 15px rgba(0, 0, 0, 0.15);
  --shadow-color-hover: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* ダークモードのスタイル */
.dark-mode {
  --bg-color: #333;
  --text-color: #ffffff;
  --box-color: #1e1e1e;
  --button-bg: #444;
  --button-text: #ffffff;
  --shadow-color: 0 0 15px rgba(255, 255, 255, 0.15);
  --shadow-color-hover: 0 0 20px rgba(255, 255, 255, 0.15);
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  box-shadow: var(--shadow-color);
  border-radius: 15px;
  background-color: var(--box-color);
  transition: 0.5s;
}

label, p, h3 {
  font-weight: bold;
  margin: 10px 0;
  color: var(--text-color);
  transition: color 0.5s;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  width: 90%;
  height: auto;
}

input {
  border: 0px;
  width:88%;
  box-shadow: var(--shadow-color);
  background-color: var(--box-color);
  color: var(--text-color);
  transition: 0.5s;
}

button {
  margin-top: 20px;
  background: #007BFF;
  width: 70%;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 15px #007bff;
}

.fileInput {
  background-color: var(--box-color);
  width: 90%;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: var(--shadow-color);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button:hover:enabled {
  background: #0045c4;
  width: 90%;
  box-shadow: 0 0 20px #0045c4;
}

.fileInput:hover:enabled {
  width: 80%;
  background: var(--box-color);
  box-shadow: var(--shadow-color);
}

#output {
  white-space: pre-wrap;
  /* background-color: #222; */
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  overflow-y: auto;
  text-align: left;
  background-color: var(--box-color);
  transition: 0.5s;
  color: var(--text-color);
  /* font-family: "Courier New", monospace; */
  box-shadow: var(--shadow-color);
}

#output:hover, .container:hover, #digitsInput:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-color-hover);
}